<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <style>
        .menu-container {
            flex-wrap: wrap;
        }

        .menu-category {
            margin-top: 20px;
        }

        .menu-item {
            display: none;
            margin-right: 20px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div id="menu-bar">
        <h1>Pc Room Menu</h1>
        <ul class="menu-category">
            <li><button class="menu-container" onclick="toggleMenu('면류')">면류</button>
                <ul class="menu-item" id="면류-item">
                    {{range .Menus}}
                    {{if eq .Category "면류"}}
                    <ul>
                        <li>Name: {{.Name}}</li>
                        <ul>
                            <li>Price: {{.Price}}</li>
                        </ul>
                    </ul>
                    <input type="submit" value="선택" onclick="setMenu('{{.Name}}', '{{.Category}}', '{{.Price}}')">
                    {{end}}
                    {{end}}
                </ul>
            </li>
            <li><button class="menu-container" onclick="toggleMenu('밥류')">밥류</button>
                <ul class="menu-item" id="밥류-item">
                    {{range .Menus}}
                    {{if eq .Category "밥류"}}
                    <ul>
                        <li>Name: {{.Name}}</li>
                        <ul>
                            <li>Price: {{.Price}}</li>
                        </ul>
                    </ul>
                    <input type="submit" value="선택" onclick="setMenu('{{.Name}}', '{{.Category}}', '{{.Price}}')">
                    {{end}}
                    {{end}}
                </ul>
            </li>
            <li><button class="menu-container" onclick="toggleMenu('음료수')">음료수</button>
                <ul class="menu-item" id="음료수-item">
                    {{range .Menus}}
                    {{if eq .Category "음료수"}}
                    <ul>
                        <li>Name: {{.Name}}</li>
                        <ul>
                            <li>Price: {{.Price}}</li>
                        </ul>
                    </ul>
                    <input type="submit" value="선택" onclick="setMenu('{{.Name}}', '{{.Category}}', '{{.Price}}')">
                    {{end}}
                    {{end}}
                </ul>
            </li>
            <li><button class="menu-container" onclick="toggleMenu('간식')">간식</button>
                <ul class="menu-item" id="간식-item">
                    {{range .Menus}}
                    {{if eq .Category "간식"}}
                    <ul>
                        <li>Name: {{.Name}}</li>
                        <ul>
                            <li>Price: {{.Price}}</li>
                        </ul>
                    </ul>
                    <input type="submit" value="선택" onclick="setMenu('{{.Name}}', '{{.Category}}', '{{.Price}}')">
                    {{end}}
                    {{end}}
                </ul>
            </li>
        </ul>
    </div>
    <div id="order-bar">
        <form id="order-send">
            <input type="text" id="order-user" placeholder="좌석번호">
            <input type="text" id="order-name" placeholder="음식이름" readonly>
            <input type="text" id="order-category" placeholder="분류" readonly>
            <input type="text" id="order-price" placeholder="가격" readonly>
            <input type="submit" value="주문">
        </form>
    </div>


    <script>
        class SendOrderEvent{
            constructor(user, name, category, price){
                this.user=user;
                this.name=name;
                this.category=category;
                this.price=price;
            }
        }

        class Event{
            constructor(type, payload){
                this.type=type;
                this.payload=payload;
            }
        }

        function toggleMenu(category) {
            var container = document.getElementById(category + "-item");
            if (container.style.display == "none") {
                container.style.display = "block";
            } else {
                container.style.display = "none";
            }
        }

        function setMenu(name, category, price) {
            document.getElementById("order-name").value = name;
            document.getElementById("order-category").value = category;
            document.getElementById("order-price").value = price;
        }

        function sendEvent(eventName, payload) {
            const event = new Event(eventName, payload);
            conn.send(JSON.stringify(event));
        }

        function sendOrder() {
            //event.preventDefault();
            user = document.getElementById("order-user").value;
            name = document.getElementById("order-name").value;
            category = document.getElementById("order-category").value;
            price = document.getElementById("order-price").value;

            if(name!=null){
                let outgoingEvent = new SendOrderEvent(user, name, category, price);
                sendEvent("send_order", outgoingEvent);
            }
            return false;
        }

        window.onload = function() {
            document.getElementById("order-send").onsubmit = sendOrder;

            if(window["WebSocket"]) {
                console.log("supports websocket");
                conn =  new WebSocket("ws://" + document.location.host + "/client/ws");
            } else {
                alert("Not supporting websocket")
            }
        }
    </script>

</body>

</html>