<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Room Chat</title>
</head>

<body>
    <div class="center">
        <h1>PC Room Chatting System</h1>
        <form id="chatroom-selection">
            <label for="chatroom">Chatroom:</label>
            <input type="text" name="chatroom" id="chatroom"><br><br>
            <input type="submit" value="Change Chatroom">
        </form>
        <br>
        <textarea class="messageArea" id="chatMessages" cols="80" rows="15" placeholder="No chat yet"></textarea>
        <br>
        <form id="chatroom-message">
            <label for="message">Message:</label>
            <input type="text" name="message" id="message"><br><br>
            <input type="submit" value="Send">
        </form>
    </div>

    <script type="text/javascript">
        var selectedRoom = "yet";

        function changeChatRoom() {
            var newRoom = document.getElementById("chatroom");
            if (newRoom != null && newRoom.value != selectedRoom) {
                console.log(newRoom);
            }
            return false;
        }

        function sendMessage() {
            var newMessage = document.getElementById("message");
            if (newMessage != null) {
                console.log(newMessage)
            }
            return false;
        }

        window.onload = function () {
            document.getElementById("chatroom-selection").onsubmit = changeChatRoom;
            document.getElementById("chatroom-message").onsubmit = sendMessage;

            if (window["WebSocket"]) {
                console.log("supports websockets");
                conn = new WebSocket("ws://" + document.location.host + "/ws");
            } else {
                alert("Not supporting websockets");
            }
        }
    </script>
    <style type="text/css">
        .center {
            margin: auto;
            width: 50%;
            border: 3px solid green;
            padding: 10px;
        }
    </style>
</body>

</html>