<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <title>Menu</title>
    <style>
        .menu-container {
            flex-wrap: wrap;
        }

        .menu-category {
            margin-top: 20px;
        }

        .menu-item {
            display: none;
            margin-right: 20px;
            margin-bottom: 10px;
        }
    </style>
    <script type="text/javascript" src="./client.js"></script>
</head>

<body>
    <div id="menu-bar">
        <h1>Pc Room Menu</h1>
        <ul class="menu-category">
            <li><button class="menu-container" onclick="toggleMenu('면류')">면류</button>
                <ul class="menu-item" id="면류-item">
                    {{range .Menus}}
                    {{if eq .Category "면류"}}
                    <ul>
                        <li>Name: {{.Name}}</li>
                        <ul>
                            <li>Price: {{.Price}}</li>
                        </ul>
                    </ul>
                    <input type="submit" value="선택" onclick="setMenu('{{.Name}}', '{{.Category}}', '{{.Price}}')">
                    {{end}}
                    {{end}}
                </ul>
            </li>
            <li><button class="menu-container" onclick="toggleMenu('밥류')">밥류</button>
                <ul class="menu-item" id="밥류-item">
                    {{range .Menus}}
                    {{if eq .Category "밥류"}}
                    <ul>
                        <li>Name: {{.Name}}</li>
                        <ul>
                            <li>Price: {{.Price}}</li>
                        </ul>
                    </ul>
                    <input type="submit" value="선택" onclick="setMenu('{{.Name}}', '{{.Category}}', '{{.Price}}')">
                    {{end}}
                    {{end}}
                </ul>
            </li>
            <li><button class="menu-container" onclick="toggleMenu('음료수')">음료수</button>
                <ul class="menu-item" id="음료수-item">
                    {{range .Menus}}
                    {{if eq .Category "음료수"}}
                    <ul>
                        <li>Name: {{.Name}}</li>
                        <ul>
                            <li>Price: {{.Price}}</li>
                        </ul>
                    </ul>
                    <input type="submit" value="선택" onclick="setMenu('{{.Name}}', '{{.Category}}', '{{.Price}}')">
                    {{end}}
                    {{end}}
                </ul>
            </li>
            <li><button class="menu-container" onclick="toggleMenu('간식')">간식</button>
                <ul class="menu-item" id="간식-item">
                    {{range .Menus}}
                    {{if eq .Category "간식"}}
                    <ul>
                        <li>Name: {{.Name}}</li>
                        <ul>
                            <li>Price: {{.Price}}</li>
                        </ul>
                    </ul>
                    <input type="submit" value="선택" onclick="setMenu('{{.Name}}', '{{.Category}}', '{{.Price}}')">
                    {{end}}
                    {{end}}
                </ul>
            </li>
        </ul>
    </div>
    <div id="order-bar">
        <form id="order-send">
            <input type="text" id="order-user" placeholder="좌석번호">
            <input type="text" id="order-name" placeholder="음식이름" readonly>
            <input type="text" id="order-category" placeholder="분류" readonly>
            <input type="text" id="order-price" placeholder="가격" readonly>
            <input type="submit" value="주문">
        </form>
    </div>
</body>

</html>